{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends":  [
    "react-app",
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    //deprecated since v8.0.0 "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    //deprecated since v8.0.0 "plugin:prettier/recommended" // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
    "prettier"
  ],
  "ignorePatterns": ["node_modules/", "build/", "craco.config.js"],
  "rules": {
    "no-console": ["warn", { "allow": ["info", "warn", "error", "debug"] }],
    "react/prop-types": 0,
    "import/no-anonymous-default-export": 0
    // Start temporary rules
    //"@typescript-eslint/no-unused-vars": 0
  }
}
